<!DOCTYPE html>
<html>
<head>
    <title>graphic</title>

    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
</head>
<body>
	<h1>Graphic</h1>

  <div id="container">
    <div id="dailyViz">
    </div>
  </div>

<!-- <script type="text/javascript" charset="utf-8" src="../js/jquery.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script> -->
<!-- <script type="text/javascript" charset="utf-8" src="../js/index.js"></script> -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/parser.js"></script>
</body>
</html>
